.public_fixedDataTable_main {
  background-color: white;
}
.fixedDataTableRowLayout_rowWrapper {
  cursor: pointer;
}
.fixedDataTableCellGroupLayout_cellGroup:hover > .public_fixedDataTableCell_main {
  background-color: #ffb79d;
}
.fixedDataTableRowLayout_main:hover {
  background-color: #ffb79d;
}

.EFDT-layer-select {
	margin: 10px;
}
.EFDT-select {
	font-family: "Meiryo";
	padding: 7px;
	border-radius: 3px;
}
.EFDT-option {
	font-family: "Meiryo";
}
.EFDT-table {

}